.navbutton a {
    display: block;
    color: white;
    text-align: center;
    padding: 19px 25px;
    text-decoration: none;
}
  
.navbutton a::before {
    content: "";
    position: absolute;
    bottom: 16px;
    right: 50%;
    height: 0;
    width: 0%;
    border-bottom: 2px solid #f1f1f1;
    transition: width 0.3s ease;
}

.navbutton a::after {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 50%;
    height: 0;
    width: 0%;
    border-bottom: 2px solid #f1f1f1;
    transition: width 0.3s ease;
}

.navbutton a:hover::after,.navbutton  a:hover::before {
    width: 28%;
}

.navbutton .active::before, .navbutton .active::after {
    width: 28%;
}